* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu Sans", sans-serif;
}

#profile {
  border-radius: 50%;
  box-shadow: 0 0 6px 2px gray;
}

.c-header {
  border-bottom: 2px solid transparent;
  transition: 200ms ease-in-out;
}

.c-header:hover {
  border-color: gray;
  font-weight: 700;
}

.img-hover:hover {
  box-shadow: 0 0 6px 2px gray;
}

#btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.c-img {
  height: 100%;
  object-fit: fit;
}

button {
  border-radius: 50%;
}
